/* Defaults */

:root {
  --font-family: 'Public Sans', -apple-system, system-ui, sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
  --font-family-serif: 'Crimson Pro', serif;

  --font-size-paragraphs: 1.125rem;
  --font-size-h1: 2rem;

  --font-size-lg: 3rem;

  --border-radius-base: 6px;
  --border-radius-large: 12px;
  --border-radius-xlarge: 24px;
}

@media screen and (min-width: 768px){
  :root {
    --font-size-h1: 2.5rem;
    --font-size-lg: 4rem;
  }
}

/* Theme colors */
:root {
  --color-gray-20: #e0e0e0;
  --color-gray-50: #C0C0C0;
  --color-gray-70: #474747;
  --color-gray-90: #333;

  --background-color: #fff;
  --background-color-alt: #f7f7f7;

  --color-gradient-base: linear-gradient(90deg, rgba(49,101,179,1) 0%, rgba(0,202,178,1) 100%);

  --text-color: var(--color-gray-90);
  --text-color-link: #082840;
  --text-color-link-visited: #17050F;
}



@media (prefers-color-scheme: dark) {
  /*:root {
    --color-gray-20: #e0e0e0;
    --color-gray-50: #C0C0C0;
    --color-gray-90: #dad8d8;
*/
    /* --text-color is assigned to --color-gray-_ above */
    /*
    --text-color-link: #1493fb;
    --text-color-link-visited: #a6a6f8;

    --background-color: #15202b;
    
  }*/
}


/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

p {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5;
}
h1 {
  font-size: var(--font-size-h1);
  font-weight: 300;
}

h2, h3, h4 {
  margin: 1.25em 0 1em 0;
}

hr {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}

.main-wrapper {
  display: grid;
  grid-template-columns: auto 100% auto;
}
@media screen and (min-width: 768px){
  .main-wrapper {
    grid-template-columns: auto 768px auto;

  }
}

@media screen and (min-width: 996px){
  .main-wrapper {
    grid-template-columns: auto 900px auto;

  }
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li {
  max-width: 30em; /* 600px /16 */
}
.tmpl-post li {
  line-height: 1.45;
}

a[href] {
  color: var(--text-color-link);
}
a[href]:visited {
  color: var(--text-color-link-visited);
}

header {
  padding: 3rem 0 0 0;
  grid-column: 2;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
main {
  padding: 1rem;
  grid-column: 2;
}
footer {
  min-height: 6rem;
  grid-column: 2;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--font-family-monospace);
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}
/* ------------------------------ */

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
  text-underline-position: from-font;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

/* ------------------------------ */

/* --- media */
.profile-img {
  max-width: 200px;
  object-fit: contain;
  border-radius: var(--border-radius-xlarge);
  margin: 1rem 0;
}
.article-img {
  width: 100%;
  object-fit: contain;
  border-radius: var(--border-radius-base);
  margin: 1rem 0;
}

/* ------------------------------ */

/* Post */
.tmpl-post p, .tmpl-case p {
  font-size: 1.25rem;
}
/* ------------------------------ */

/* Posts list */
.postlist {
  list-style: none;
  margin: 1.5rem 0 2rem 0;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
  margin: 0 0 1rem 0;
}
.postlist-item-large {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items:flex-start;
  counter-increment: start-from -1;
  line-height: 1.8;
  margin: 0 0 2.5rem 0;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.875em; /* 13px /16 */
  color: var(--color-gray-70);
  font-weight: 300;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) "";
  background: var(--color-gradient-base);
  border-radius: var(--border-radius-base);
  color: white;
  font-family: var(--font-family-serif);
  font-size: 1.25em; /* 13px /16 */
  line-height: 100%;
  margin: 0 0.5em 0 0;
  padding: 4px 8px;
  text-align: right;
}
.postlist-item.case:before, .postlist-item.case:before {
  content: none;
}
.postlist-item-large:before {
  display: inline-block;
  pointer-events: none;
  content: "";
  background: linear-gradient(white, white) padding-box, var(--color-gradient-base) border-box;
  border: solid 1px transparent;
  border-radius: var(--border-radius-large);
  margin: 0 1em 0 0;
  padding: 32px 40px;
}
.postlist-item-large:after {
  display: inline-block;
  pointer-events: none;
  position: absolute;
  top: 8px; left: 12px;
  content: "" counter(start-from, decimal-leading-zero) "";
  background: var(--color-gradient-base);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: var(--border-radius-base);
  font-family: var(--font-family-serif);
  font-size: 3em; /* 13px /16 */
  letter-spacing: 5px;
  line-height: 100%;
  min-width: 70px;
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding: 0 0.5em;
  text-underline-position: from-font;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 550;
}
.link-large {
  font-size: 1.5em !important;
}
/* ------------------------------ */


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  color: var(--color-gray-90);
  background: linear-gradient(white, white) padding-box, var(--color-gradient-base) border-box;
  border: solid 1px transparent;
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--color-gray-20);
}
.postlist-item > .post-tag {
  align-self: center;
}
/* ------------------------------ */

/* Infobox */
:root {
  --color-infobox: #ffc;
}
@media (prefers-color-scheme: dark) {
  /*:root {
    --color-infobox: #082840;
  }*/
}

.infobox {
  background-color: var(--color-infobox);
  color: var(--color-gray-90);
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.infobox ol:only-child {
  margin: 0;
}
/* ------------------------------ */

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
/* ------------------------------ */

/* site components*/
.intro-header {
  margin: 2em 0 3em 0;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 32px;
}