---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Reflections
  order: 2
---
<div class="intro-header">
    <h1>Reflections</h1>
</div>

{% set postslist = collections.posts %}
<ul reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="postlist-item-large{% if post.url == url %} postlist-item-large-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link link-large">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <div class="w-100">
      <p class="mb-xs mt-s">{% if post.data.description %}{{ post.data.description }}{% endif %}</p>
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </div>
    
  </li>
{% endfor %}
</ul>

