---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Reflections
  order: 2
---
<div class="intro-header">
    <h1>Reflections</h1>
</div>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
