---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="intro-header"> 
  {% image "./src/images/profile.jpg", "photo of me", "profile-img" %}
  <div>
    <h1 class="m-0 text-md-end">Måns Hellgren</h1>

    <p class="text-md-end mt-s">UX designer with frontend development flair.</p>
  </div>
</div>

{% set maxPosts = collections.posts.length | min(4) %}
<h2 class="fs-p fw-normal mt-l">Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% set caselist = collections.work | head(-3) %}
{% set caselistCounter = collections.work | length %}
{% include "postslist.njk" %}

<p class="fs-root">More writings can be found in <a href="{{ '/posts/' | url }}">reflections</a>.</p>
