---
layout: layouts/home.njk
permalink: /work/
eleventyNavigation:
  key: Work
  order: 3
---
<div class="intro-header">
    <h1>Work i've done</h1>
</div>


{% set caselist = collections.work %}
{% include "caselist.njk" %}